.bsmodal{
	min-width:200px;
	min-height:200px;
	max-width: 60vw;
	max-height: 80vh;
	background: whitesmoke;
	position: relative;
	display: inline-block;
	padding:20px;
	border-radius: 12px;

}

.bsmodal img{
	max-width: 100%;
	height:auto;

	max-height: 150px;
}

.bsmodal-shadow{
	position: fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;

	background: rgba(0,0,0,0.8);

	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-data{
	display: none;
}

